.sectionsContainer {
	display: flex;
	flex-direction: column;
	width: 100vw;
	gap: 7vw;
	padding-bottom: 3.5vw;

	@media (max-width: 768px) {
		margin: 0;
		width: 100vw;
		gap: 4vw;
	}
}

.bannerSk{
	width: 100vw;
	height: 400px;
}